# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lastbuildstate
*.pch
*.tlog
*.idb
*.ipch
*.sdf


# Compiled Dynamic libraries
*.so
*.lib
*.ilk


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
